body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

#result {
  margin-top: 20px;
  padding: 20px;
  background: #1c1c1c;
  border-radius: 12px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
